body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left, .right {
    width:50%;
    flex: 1;
    padding: 20px;
}

.left {
    position:sticky;
    top:0;
    border-right: 1px solid #eee;
}

h1, h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: none;
}

button {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.keyword {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.keyword:hover {
    background-color: #eee;
}

.keyword.selected {
    background-color: #007BFF;
    color: #fff;
}

.keyword.highlighted {
    background-color: #ffc107;
}
