
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:14px;
}

h2{
    font-size:24px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 50px 40px;
    padding: 20px;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:50px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.left-panel {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding-right: 20px;
    border-radius: 5px;
    position: sticky;
    top: 20px;
}
.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}
h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin:0 0 15px 0;
    text-align: center;
}

.search-words-in-list{
    width:100%;
}

.minus-word-filtering-container{
    width:100%;
    margin-top:30px;
}

textarea, select, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing:border-box;
    resize: vertical;
}

textarea, select, input {
    font-family:Arial, Helvetica, sans-serif;
}

.right-panel textarea#phrases {
    height:92.5px;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #7b97b5;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    margin: 10px 0 10px 0;
}
button:hover {
    background-color: #0056b3;
}

.output {
    width:100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.highlighted {
    color: rgb(0, 0, 0);
}
.removed {
    text-decoration: line-through;
    color: #888;
}
.export-button-container {
    display: flex;
    justify-content: flex-end;
}
.output span {
    display: block;
}
.minus-word-container {
    display: flex;
    align-items: center;
    position: relative;
    font-size:13px;
}
.remove-button {
    cursor: pointer;
    color: red;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:15px;
}
.minus-words-scroll {
    width:100%;
    max-height: 200px;
    overflow-y: auto;
}

.added{
    margin:10px 0 0 0;
}

.result-container {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top:30px;
}

.left-result-column,
.right-result-column{
    width:45%;
}

#filteredOutput,
#removedOutput {
    height:150px;
    overflow: scroll;
}

.styled-minus-word {
    display: inline-block;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

#addButton{
    background-color: rgb(218, 117, 117);
}

#addButton:hover{
    background-color: rgb(139, 74, 74);
}

#importMinusWordsButton, #exportMinusWordsButton, #exportButton{
    background-color: rgb(110, 193, 148);
    }

#importMinusWordsButton:hover, #exportMinusWordsButton:hover, #exportButton:hover {
    background-color: rgb(58, 117, 98);
}

.match-pickup{
    width:100%;
}

.buttons-container{
    width:100%;
}